<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="eborfxcom.onmicrosoft.com" />
    <add key="ida:ClientId" value="d3c3fca7-2912-4266-b7a5-165678c067aa" />
    <add key="ida:ClientSecret" value="LVq33UFJEyzoSFX1jJWVbNwkUS39TOeQ2wHV9BUVUR0=" />
    <add key="ida:RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />
    
    <add key="todo:valuesAppId" value="807c8ada-8b06-4587-87b8-1fcd1b95e898" />
    <add key="todo:valuesBaseAddress" value="http://localhost:5000" />
  </appSettings>
</configuration>